* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'B612 Mono', monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #171717;
    user-select: none;
    scroll-behavior: smooth;
    overflow: hidden;
}

header {
    width: 100%;
    background: linear-gradient(80deg, #ab741f 30%, #171717 45%);
}
