* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'B612 Mono', monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #171717;
    scroll-behavior: smooth;
}

.container {
    width: 1200px;
    margin: 0 auto;
    
    border: 1px solid #e4cdd2;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;

    background: linear-gradient(80deg, #ab741f 35%, #171717 51.05%);
    border: 1px solid #e4cdd2;
}

/* main .bg {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 1200px;
    background: #ab741f;
    z-index: -100;
    transform: rotate(-30deg);
} */

main .avatar {
    border: 3px solid #092667;
    border-radius: 50%;
    overflow: hidden;
}
