.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    animation: scale 3s ease;
}

@keyframes scale{
    0%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1);
    }
}

.navigation-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background: transparent;
    overflow: hidden;
    z-index: 800;
}

.navigation-bar img {
    width: 50px;
    transition: 0.5s;
}

.navigation-bar img:hover {
    transform: rotateZ(-30deg);
}

.navigation-bar .menu-btn {
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.navigation-bar .menu-btn .first-bar,
.navigation-bar .menu-btn .second-bar,
.navigation-bar .menu-btn .third-bar {
    position: relative;
    width: 60px;
    height: 3px;
    background: transparent;
    transform: rotate(180deg);
    transition: 0.5s;
}

.navigation-bar .menu-btn .first-bar::before,
.navigation-bar .menu-btn .second-bar::before,
.navigation-bar .menu-btn .third-bar::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    background: #ab741f;
    transition: 0.5s;
}

.navigation-bar .menu-btn .second-bar::before {
    width: 60%;
}

.navigation-bar .menu-btn .third-bar::before {
    width: 100%;
}

.navigation-bar .menu-btn:hover .first-bar::before,
.navigation-bar .menu-btn:hover .second-bar::before,
.navigation-bar .menu-btn:hover .third-bar::before {
    width: 100%;
}

.header-container .avatar {
    border: 3px solid #ab741f;
    border-radius: 50%;
    overflow: hidden;
}

.header-container .presentation {
    width: 600px;
    height: 400px;
    color: #e4cdd2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.header-container .presentation .hello {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.header-container .presentation .hello h2 {
    color: #ab741f;
    font-size: 28px;
}

.header-container .presentation .hello span {
    font-size: 28px;
}

.header-container .presentation h1 {
    font-family: 'B612 Mono', monospace;
    font-size: 36px;
    position: relative;
    max-height: 40px;
    color: #e4cdd2;
    font-weight: normal;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: textTyping 10s steps(12) infinite, flashes .7s infinite;
}

@keyframes textTyping {
    0%, 90%, 100% {
        width: 1px;
    }
    30%, 60% {
        width: 280.8px;
    }
}

@keyframes flashes {
    0%, 100% {
        box-shadow: 2px 0 0 #e4cdd2;
    }
    50% {
        box-shadow: 2px 0 0 #171717;
    }
}

.header-container .presentation h3 {
    font-size: 28px;
    color: #ab741f;
}
