@import url(general_styles.css);

.bg {
    width: 100%;
    background: linear-gradient(80deg, #ab741f 30%, #171717 45%);
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 99.7vh;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    animation: scale 3s ease;
}

@keyframes scale{
    0%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1);
    }
}

.header-container .avatar {
    border: 3px solid #ab741f;
    border-radius: 50%;
    overflow: hidden;
}

.picture {
    position: relative;
    width: 250px;
    height: 250px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #fff;
}

.picture .me {
    position: absolute;
    top: -4px;
    width: 250px;
    z-index: 10;
}

.eyes {
    position: relative;
    top: -5px;
    display: flex;
}

.eyes .eye {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    background: #fff;
    margin: 0 12px;
    border-radius: 50%;
}

.eyes .eye::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
    background: #333;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.header-container .presentation {
    width: 600px;
    height: 400px;
    color: #e4cdd2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.header-container .presentation .hello {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.header-container .presentation .hello h2 {
    color: #ab741f;
    font-size: 28px;
}

.header-container .presentation .hello span {
    font-size: 28px;
}

.header-container .presentation h1 {
    font-family: 'B612 Mono', monospace;
    font-size: 36px;
    position: relative;
    max-height: 40px;
    color: #e4cdd2;
    font-weight: normal;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: textTyping 10s steps(12) infinite, flashes .7s infinite;
}

@keyframes textTyping {
    0%, 90%, 100% {
        width: 1px;
    }
    30%, 60% {
        width: 280.8px;
    }
}

@keyframes flashes {
    0%, 100% {
        box-shadow: 2px 0 0 #e4cdd2;
    }
    50% {
        box-shadow: 2px 0 0 #171717;
    }
}

.header-container .presentation h3 {
    font-size: 28px;
    color: #ab741f;
}

@media (max-width: 1200px) {
    .header-container {
        width: 100%;
    }

    .header-container .presentation .hello h2 {
        font-size: 24px;
    }
    
    .header-container .presentation .hello span {
        font-size: 24px;
    }

    .header-container .presentation h1 {
        font-size: 30px;
    }

    @keyframes textTyping {
        0%, 90%, 100% {
            width: 1px;
        }
        30%, 60% {
            width: 234px;
        }
    }

    .header-container .presentation h3 {
        font-size: 24px;
    }
}

@media (max-width: 960px)  {
    .bg {
        background: #171717;
    }

    .header-container {
        flex-direction: column-reverse;
        align-items: center;
        min-height: 650px;
    }

    .header-container .presentation .hello h2 {
        font-size: 28px;
    }
    
    .header-container .presentation .hello span {
        font-size: 28px;
    }

    .header-container .presentation h1 {
        font-size: 36px;
    }

    @keyframes textTyping {
        0%, 90%, 100% {
            width: 1px;
        }
        30%, 60% {
            width: 280.8px;
        }
    }

    .header-container .presentation h3 {
        font-size: 28px;
    }

    .header-container .avatar {
        transform: translateY(-100px);
    }

    .header-container .presentation {
        margin-left: 100px;
    }
}

@media (max-width: 540px)  {
    .header-container .presentation {
        width: 280px;
        margin: 0;
        padding: 15px;
    }

    .header-container .presentation .hello h2 {
        font-size: 18px;
    }

    .header-container .presentation .hello span {
        font-size: 18px;
    }

    .header-container .presentation h1 {
        font-size: 30px;
    }

    @keyframes textTyping {
        0%, 90%, 100% {
            width: 1px;
        }
        30%, 60% {
            width: 234px;
        }
    }
}