.portfolio {
    position: fixed;
    top: 0;
    left: -110vw;
    overflow-y:scroll;
    width: 100%;
    height: 100vh;
    background: #121212;
    z-index: 20;
}

::-webkit-scrollbar {
    width: 0;
}

.portfolio-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 99.7vh;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.portfolio-container h1 {
    font-size: 2.5em;
    font-weight: bolt;
    color: #f5f5f5;
    display: flex;
    margin-top: 60px;
    gap: 20px;
}

.portfolio-container h1 .me {
    color: #ab741f;
}

.portfolio-container p {
    font-size: 1.2em;
    color: #f5f5f5;
    margin-top: 20px;
    text-align: center;
}

.portfolio-container p .wrk {
    color: #ab741f;
}

.portfolio-container a {
    font-size: 1.2em;
    color: #f5f5f5;
    margin-top: 60px;
    text-decoration: none;
    border: 1px solid #ab741f;
    padding: 10px 15px;
}

.portfolio-container a .git {
    color: #ab741f;
}

.portfolio-container a::before {
    content: attr(data-text);
    position: absolute;
    color: #ab741f;
    font-weight: bold;
    transform: translateX(-12px);
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 1s;
}

.portfolio-container a:hover:before {
    width: 100%;
}

.portfolio-container a .git::before {
    content: attr(data-text);
    position: absolute;
    color: #fff;
    font-weight: bold;
    transform: translateX(18px);
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 1s;
    transition-delay: 0.5s;
}

.portfolio-container a:hover .git::before {
    width: 100%;
}

.portfolio-container a:hover .git i {
    color: #fff;
    transition-delay: 0.5s;
}

.portfolio-container .cardBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
}


.portfolio-container .cardBx .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 80px 0;
}

.portfolio-container .cardBx .card:nth-child(odd) {
    flex-direction: row;
}

.portfolio-container .cardBx .card:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.portfolio-container .cardBx .card .imgBx {
    position: relative;
    left: 25px;
    width: 400px;
    height: 300px;
    z-index: 10;
}

.portfolio-container .cardBx .card:nth-child(even) .imgBx {
    left: -25px;
}

.portfolio-container .cardBx .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.portfolio-container .cardBx .card .contentBx {
    position: relative;
    right: 25px;
    width: 500px;
    height: 400px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 20px 100px;
    z-index: 9;
}

.portfolio-container .cardBx .card:nth-child(even) .contentBx {
    right: -25px;
    padding: 20px 100px 20px 60px;
}

.portfolio-container .cardBx .card .contentBx::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #ab741f;
    transform: skew(2deg, 2deg);
    z-index: 0;
}

.portfolio-container .cardBx .card .contentBx::after {
    content: '';
    position: absolute;
    right: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
} 

.portfolio-container .cardBx .card .contentBx .content {
    z-index: 2;
}

.portfolio-container .cardBx .card .contentBx .content h2 {
    position: absolute;
    top: -10px;
    right: 20px;
    font-size: 10em;
    color: rgba(255, 255, 255, 0.05);
}

.portfolio-container .cardBx .card:nth-child(even) .contentBx .content h2 {
    right: auto;
    left: 20px;
}

.portfolio-container .cardBx .card .contentBx .content p {
    margin-top: 80px;
    color: #fff;
    font-size: 2em;
}

.portfolio-container .cardBx .card .contentBx .content a {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    color: #ab741f;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #ab741f;
}

@keyframes animate {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}

@media (max-width: 960px) {
    .portfolio-container .cardBx .card {
        flex-direction: column;
        max-width: 350px;
        margin: 25px;
    }

    .portfolio-container .cardBx .card .imgBx {
        width: 100%;
        height: 250px;
        left: 0;
    }

    .portfolio-container .cardBx .card .contentBx {
        width: 100%;
        height: auto;
        right: 0;
        padding: 30px;
        text-align: center;
    }

    .portfolio-container .cardBx .card:nth-child(even) .imgBx {
        left: 0;
    }

    .portfolio-container .cardBx .card:nth-child(even) .contentBx {
        right: 0px;
        padding: 30px;
    }

    .portfolio-container .cardBx .card .contentBx .content h2 {
        font-size: 3em;
        color: rgba(255, 255, 255, 0.1);
        margin-top: 20px;
    }

    .portfolio-container .cardBx .card:nth-child(even) .contentBx .content h2 {
        right: 20px;
        left: auto;
    }

    .portfolio-container .cardBx .card .contentBx .content p {
        margin-top: 30px;
    }
}

@media (max-width: 680px) {
    .portfolio-container h1 {
        margin-top: 120px;
    }
}

@media (max-width: 390px) {
    .portfolio-container h1 {
        font-size: 1.8em;
    }

    .portfolio-container .cardBx {
        margin: 10px 0;
    }
    
    .portfolio-container .cardBx .card {
        max-width: 270px;
    }

    .portfolio-container .cardBx .card .imgBx {
        height: 200px;
    }

    .portfolio-container .cardBx .card .contentBx .content h2 {
        font-size: 2em;
    }

    .portfolio-container .cardBx .card .contentBx .content p {
        font-size: 1.5em;
    }
}


/* Animation */

[data-anime] {
    transition: 3s;
    opacity: 0;
    transform: scale(0.7);
}

[data-anime].animate {
    opacity: 1;
    transform: scale(1);
}

.card1 {
    opacity: 1;
    transform: scale(1);
}