#transition{
    position: fixed;
    height: 300vh;
    width: 120%;
    background-color: #ab741f;
    transition: 0s;
    z-index: 1000;
    transform: rotateX(15deg);
    display: none;
    animation: transAnimate 1.5s linear forwards;
}

@keyframes transAnimate{
    0%{
        transform : translateX(-150%) rotate(15deg);
    }
    50% {
        transform : translateX(0%) rotate(15deg);
    }
    100% {
        transform : translateX(150%) rotate(15deg);
    }
}
